.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  overflow-x: auto;
}
.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  align-items: center;
  margin-top: 104px;
  position: relative;
  overflow: auto;
  margin-bottom: 116px;
  /* max-width: 326px; */
}

.header {
  display: flex;
justify-content: space-between;
padding: 12px 16px 12px 24px;
background: white;
z-index: 2;
position: fixed;
top: 0;
transition: top 100ms ease-in-out;
width: 100%;

box-shadow: 0px 2px 6px rgba(60, 64, 67, 0.12)
}

.headerHidden {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px 12px 24px;
  background: white;
  z-index: 2;
  position: fixed;
  width: 100%;
  top: -72px;
  transition: all 100ms ease-in-out;
  
  box-shadow: none;
}


.header button, .headerHidden button {
  background: var(--blue-1);
  color: white;
  padding: 11px 32px 12px 32px;
  border-radius: 24px;
  border: none;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.25px;
  font-weight: 600;
  
}

.sectionA {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  max-width: 326px;
}

.sectionA .textCon {
display: flex;
flex-direction: column;
align-content: flex-start;
}

.sectionA h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.1px;
  margin-bottom: 15.51px;

}


.sectionA p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.2px;
  margin-bottom: 24.49px;
  
}

.sectionA .imgCon {
  position: relative;
  min-width: 303px;
  min-height: 303px;
  max-width: 303px;
  max-height: 303px;
}

.sectionTabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 326px;
}

.sectionTabs h1 { 
  font-weight: 700; 
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.1px;
  margin-bottom: 16px;
}
.sectionTabs p {  
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.2px;
  margin-bottom: 41px;
}

.tabs {
  display: flex;
  background: #F8F9FA;
  border-radius: 20px;
  /* max-width: 503px; */
  /* gap: -20px; */

}
.tab {
border-radius: 20px;
background: #F8F9FA;
color: #366CA5;
font-weight: 700;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.1px;
padding: 10px 33px 10px 33px;
}
.selectedTab {
  background: #366CA5;
  color: white;
}

.tabContent {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column-reverse;
  justify-items: flex-start;
  justify-content: flex-end;
  height: 548px;
  margin-bottom: 20px;
  /* height: 774px; */
  /* height: 100%; */
  /* justify-content: space-around; */
}

.tabContent .imgWrap {
  min-width: 303px;
  display: flex;
  justify-content: center;
}
.tabContent .imgCon0 {
  position: relative;
  width: 303px;
  height: 303px;
}
.tabContent .imgCon1 {
  position: relative;
  width: 303px;
  height: 303px;
}
.tabContent .imgCon2 {
  position: relative;
  width: 303px;
  height: 303px;
}
.tabContent .textCon {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.tabContent h2 {
  text-align: center;
  color: var(--blue-1);
  margin-bottom: 16px
}
.tabContent p {
  text-align: center;
  max-width: 418px;  
}


.sectionB {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44.69px;
  max-height: 941px;
  max-width: 326px;
  height: 100%;
  margin-bottom: 80px
}

.sectionB .textCon {
  /* margin-top: 80px; */
}

.sectionB h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.1px;
  margin-bottom: 14.45px;
}

.sectionB p {
  /* font-weight: 500; */
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.2px;
}

  
.sectionB .imgCon {
  position: relative;
  width: 303px;
  height: 303px;
}

.bookingSection {
  text-align: left;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: auto;

}
.booking::-webkit-scrollbar { width: 0 !important }

.bookingCard:first-of-type {
  margin-left: 24px;
}
.bookingCard:last-of-type {
  margin-right: 24px;
}

.bookingSection h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.1px;
  margin-bottom: 15.51px;
  margin-left: 24px
}

.booking {
  display: flex;
  gap: 16px;
  overflow-x: auto;

}

.bookingCard {
  display: flex;
  flex-direction: column;
  min-width: 303px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.booking h2 {
  margin-top: 24px;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.1px;
}

.booking p {
  margin-top: 44px;
  width: 303px;
  /* height: 96px; */
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.2px;
}

#filteredAvailability {
  /* margin-right: 131px; */
  position: relative;
  width: 250px;
  height: 474px;
} 


.sectionForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  max-width: 319px;
  margin-bottom: 84px;
}

.sectionForm h1 {
  /* font-weight: 500; */
  font-size: 28px;
  line-height: 24px;

}
.sectionForm p {
font-family: Roboto;
font-weight: 400;
font-size: 16px;
line-height: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 28px;
}

.formBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

.formBottom button {
  height: 48px;
  border: none;
  border-radius: 4px;
  padding: 14px 28px;
  color: #A2A3A4;
  font-weight: 600;
font-size: 16px;
line-height: 20px;
background: #E0E0E0;
}

.textCon {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.placeholder {
  color: grey
}



.form input:focus-visible , .form select:focus-visible {
  /* outline-color: var(--blue-2) */
}
.form input, .form select {
  width: 319px;
  height: 56px;
  border-radius: 4px;
  padding: 16px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  border: 1px solid #DADCE0;
  color: rgba(0, 0, 0, 0.6);
  appearance: none;

  
}

.formBottom {
  display: flex;
  justify-content: space-between;
}

.formBottom p {
  display: none;
}


.sectionImage {

}

.main h2 span, .main h1 span {
  color: var(--blue-1);
}

.mobileFooter {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.mobileFooter .logo {
}

.divider {
  height: 1px;
  width: calc(100% - 48px);
  margin-bottom: 85px;
  background: #E1E1E1
}

.mobileFooter p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  padding: 14px 28px 0px 28px;
  text-align: center;
  margin-bottom: 84px;
}

/* DESKTOP  */
/* DESKTOP  */
/* DESKTOP  */
/* DESKTOP  */
/* DESKTOP  */

@media (min-width: 795px) {


  .header {
    display: flex;
    justify-content: space-between;
    padding: 21px 32px 21px 36px;
    background: white;
    z-index: 2;
    position: fixed;
    width: 100%;
    top: 0px;
    transition: all 100ms ease-in-out;
    box-shadow: none;
    height: 86px;
  }

  
  .main {
    /* gap: 224px; */
    align-items: center;
    align-content: center;
    margin-top: 207px;
    max-width: 100%;
    margin-bottom: 223.87px;
  }


  .sectionA {
    /* margin: 0px 92px 0px 92px; */
    flex-direction: row;
    max-width: 1256px;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 109px;
    justify-content: space-around;
    margin-bottom: 154px;
  }

  .sectionA .textCon {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    }
    
  
  .sectionA h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    letter-spacing: 0.1px;
    max-width: 550px;
    text-align: start;
    margin-top: 41px;
  }
  .sectionA p {
    font-size: 26px;
    line-height: 38px;
    letter-spacing: -0.2px;
    max-width: 589px;
    margin-bottom: 24px;
    text-align: start;
  }

  .sectionA .imgCon {
    position: relative;
    min-width: 558px;
    min-height: 558px;
    min-width: 558px;
    min-height: 558px;
  }

  .sectionTabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    
  }
  .sectionTabs h1 {  
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.1px;
    margin-bottom: 16px;
  }
  .sectionTabs p {  
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.2px;
    margin-bottom: 41px;
    max-width: 549px;  
  }
  
  .tabs {
    display: flex;
    background: #F8F9FA;
    border-radius: 20px;
    max-width: 503px;
    /* gap: -20px; */
  
  }
  .tab {
  border-radius: 20px;
  background: #F8F9FA;
  color: #366CA5;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  padding: 10px 66px 10px 66px;
  }
  .selectedTab {
    background: #366CA5;
    color: white;
  }
  
  .tabContent {
    display: flex;
    align-items: center;
    /* align-items: flex-start; */
    height: 774px;
    /* height: 100%; */
    flex-direction: row;
    justify-content: space-around;
    gap: 140px;
    align-items: flex-start;
  }
  
  .tabContent .imgWrap {
    /* min-width: 627px; */
    display: flex;
    justify-content: center;
    margin-top: 167px; 
  }
  
  .imgWrap:first-of-type {
    margin-top: 252px;
  }
  .tabContent .imgCon0 {
    position: relative;
    width: 535.21px;
    height: 210px;
  }
  .tabContent .imgCon1 {
    position: relative;
    width: 611.55px;
    height: 591.92px;
  }
  .tabContent .imgCon2 {
    position: relative;
    width: 423px;
    height: 445px;
  }
  .tabContent .textCon {
    display: flex;
    flex-direction: column;
  margin-top: 252px;
  }
  
  .tabContent h2 {
    text-align: start;
    color: var(--blue-1);
    margin-bottom: 16px
  }
  .tabContent p {
    text-align: start;
   
  }

  .sectionB {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    width: 100vw;
    gap: 236px;
    max-height: 941px;
    height: 100%
    
  }
  .sectionB:nth-child(odd) .textCon {
    margin-top: 303px;
    margin-left: 181px;
    text-align: left;
  } 
  .sectionB:nth-child(even) .textCon {
    margin-top: 303px;
    margin-left: 0px;
    text-align: left;
  } 

  .sectionB h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.1px;
    margin-bottom: 14.45px;
    
  }
  .sectionB p {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.2px;
    font-size: 24px;
    line-height: 36px;
    min-width: 418px;
  }
  
    .sectionB .imgCon {
    margin-right: 131px;
    position: relative;
    width: 591px;
    height: 705.37px;
  } 
    #filteredAvailability {
    margin-right: 131px;
    position: relative;
    width: 388px;
    height: 474px;
  } 

  .sectionB .imgCon {
    position: relative;
    min-width: 388px;
    min-height: 474px;
  }

  .sectionB:nth-child(even) {
    flex-flow: row-reverse;
    gap: 119px;
  }
    
  .sectionForm {
    gap: 0px;
    max-width: 1072px;
    width: 100%;
    align-items: center;
  }

  .sectionForm h1 {
    margin-bottom: 22px;
  }
  .sectionForm > p {
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 82px;
  }
  
  .form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 18px;
    margin-bottom: 56px;
  }

  .formBottom {
    flex-direction: row;
  }

  .bookingSection {
    text-align: left;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-x: auto;

  }
  .booking::-webkit-scrollbar { width: 0 !important }

  .bookingCard:first-of-type {
    margin-left: 75px;
  }
  .bookingCard:last-of-type {
    margin-right: 75px;
  }

  .bookingSection h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    letter-spacing: -1px;
    margin-left: 75px;
    width: 152px
  }

  .bookingSectionTitleRow {
    display: flex;
    justify-content: space-between;
    margin-right: 45px;
  
  }
  .bookingSectionTitleRow img {
width: 20px;
height: 20px;
  
  }

  .booking {
    display: flex;
    gap: 32px;
    overflow-x: auto;
    margin-top: 80px;

  }

  .bookingCard {
    display: flex;
    flex-direction: column;
    min-width: 516px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .booking h2 {
    margin-top: 24px;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.1px;
  }
  
  .booking p {
    margin-top: 44px;
    width: 500px;
    height: 96px;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.2px;
  }
  

  .formBottom button {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    padding: 14px 28px 14px 28px;
  }

  .formBottom p {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    padding: 14px 28px 14px 0px;
  }

  .form input, .form select {
    width: 527px;
  }

  .mobileFooter {
    display: none
  }

}